* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(130deg, rgb(180, 220, 246), rgb(145, 133, 236));
  min-height: 100dvh;
}

.firstPart {
  display: flex;
  flex-direction: column;
}

.rating {
  font-size: 24px;
}

.star {
  color: gold;
  display: inline-block;
}

.star::before {
  content: '\2605';
  position: absolute;
  display: inline-block;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  color: transparent;
}

.selectRate {
  width: 30px;
  height: 25px;
  margin-left: 10px;
  background-color: rgb(213, 228, 255);
  border-radius: 15px;
}
.link {
  color: white;
  text-decoration: none;
}
